{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
        <div class="card">
                <div class="card-header">

                        <h5 class="card-title">Nueva Posible Propiedad</h5>
        
                </div>
                
                <form action="" method="post">
                    {% csrf_token %}

                    {% for field in form %}

                    <div class="form-group">     
                        <label for="exampleInputEmail1">{{ field.label_tag }}</label>
                        
                        {{ field }}
                    </div>

                    {% endfor %}
                    
                    <input type="submit" class="mt-10 btn btn-primary" value="Submit">
                    <a href="{% url 'ver_propiedades_posible' %}" class="btn btn-primary">Volver a Propiedades Posibles</a>
                    
            </form>


</div>
</div>
        
{% endblock %}