{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreApp-Clientes</title>
</head>
<body>
   
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h1>Datos Posibles Clientes</h1>
            </div>
            <h3> {{pcliente.nombre}} {{pcliente.apellido}} </h3>
            <h5>Telefono: {{pcliente.telefono}} </h5>
            <h5>Email: {{pcliente.correo}} </h5>

        </div>
    </div>
    <div class="container mt-4">
        <div class="card">
    <table>
        <tr>
            <h2>Observaciones</h2>
        </tr>
        <tr>
            <td> {{pcliente.observaciones}} </td>
        </tr>
        <td><a type="button" href="{{ cliente.get_delete_url }}" class="btn btn-danger">Eliminar</a>
            <a type="button" href="{{ cliente.get_edit_url }}" class="btn btn-warning">Editar</a> 
        </td>
    </table>

</div></div>


    
</body>
</html>

{% endblock %}