{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreApp-Clientes</title>
</head>
<body>
   
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h1>Datos Posibles Clientes</h1>
            </div>
            <h3> {{cliente.nombre}} {{cliente.apellido}} </h3>
            <h5>Telefono: {{cliente.telefono}} </h5>
            <h5>Email: {{cliente.correo}} </h5>
            <h5>Id: {{cliente.id}} </h5>

        </div>
    </div>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h1>Seguimiento Procesos</h1>
            </div>
            {% for prop in propiedad %}
            <h3> {{prop.codigo}}  </h3>
            <h2> {{prop.fecha_ingreso}} </h2>
            <h2> {{prop.proceso}} </h2>
            {%endfor%}
        </div>
    </div>


    <div class="container mt-4">
        <div class="card">
            <table>
                <tr>
                    <h2>Observaciones</h2>
                </tr>
                <tr>
                    <td> {{cliente.observaciones}} </td>
                    
                </tr>
                <td>
                    <a type="button" href="{{ cliente.get_delete_url }}" class="btn btn-danger">Eliminar</a>
                    <a type="button" href="{{ cliente.get_edit_url }}" class="btn btn-warning">Editar</a> 
                </td>
            </table>
        </div>
    </div>


    
</body>
</html>

{% endblock %}