{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreApp-Propiedades</title>
</head>
<body>
   <h1>Posibles Propiedades</h1>
   <a href="{% url 'nueva_propiedad' %}" class="btn btn-primary">Nueva Propiedad</a>
    <table class="table table-striped">
        <tr>
            <td><h2>ID</h2></td>
            <td><h2>Tipo</h2></td>
            <td><h2>Ubicacion</h2></td>
            <td><h2>Precio</h2></td>
            <td><h2>Descripcion</h2></td>
        </tr>

                {% for prop in propiedad %}
                    {% if prop.es_activo %}
                    <tr>
                        <td><a href='/propiedad/{{prop.pk}}'> {{prop.pk}}</a></td>
                        <td>{{prop.tipo}}</td>
                        <td>{{prop.ubicacion}}</td>
                        <td>{{prop.precio}}</td>
                        <td>{{prop.descripcion}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}

    </table>

    
    
</body>
</html>

{% endblock %}